:root {
  --dark-text: #1e1e1e;
  --light-text: #ffffff;
  --accent-color: #f6973f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Gilroy";
  src: URL("assets/fonts/Gilroy-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  src: URL("assets/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Gilroy";
  src: URL("assets/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
}

body {
  position: relative;
  font-family: "Gilroy", sans-serif;
  color: var(--dark-text);
}

/* --------------------------------------------------------------------- */

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  color: var(--light-text);
  padding: 16px 64px;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .nav-wrapper {
  display: flex;
  gap: 32px;
}

.navbar .cart {
  position: relative;
}

.navbar .cart .cart-count {
  position: absolute;
  top: -0.4rem;
  right: -0.4rem;
  height: 1rem;
  width: 1rem;
  display: grid;
  place-items: center;
  background-color: var(--accent-color);
  border-radius: 50%;
  font-size: 0.7rem;
}

/* --------------------------------------------------------------------- */

.section-1 {
  position: relative;
  height: fit-content;
  background-size: cover;
}

.section-1 .bg {
  width: 100%;
  z-index: -100;
}

.section-1 .content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
  padding-top: 100px;
  text-align: center;
}

.section-1 .content h1 {
  font-size: 80px;
  text-transform: capitalize;
}

.section-1 .content p {
  margin-top: 32px;
  color: #ffffff;
}

.section-1 .content .search {
  margin-top: 32px;
  display: grid;
  place-items: center;
}

.section-1 .content .search .search-component {
  width: 300px;
  background-color: rgb(255, 255, 255, 0.15);
  border-radius: 500px;
  padding: 4px;
  border: 2px solid rgb(255, 255, 255, 0.6);
  display: grid;
  grid-template-columns: 1fr auto;
}

.section-1 .content .search .search-component input {
  background-color: transparent;
  border: transparent;
  padding: 0 16px;
  color: #ffffff;
}
.section-1 .content .search .search-component input:focus {
  outline: transparent;
}
.section-1 .content .search .search-component button {
  background-color: #e58411;
  border: transparent;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
}

/* --------------------------------------------------------------------- */

.section-2 {
  padding: 128px 64px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.section-2 .section-title {
  font-size: 2rem;
  font-weight: bold;
}

.section-2 .content {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.section-2 .content .content-item {
  display: grid;
  gap: 16px;
}

.section-2 .content .content-item .description {
  font-size: 0.9rem;
}

.section-2 .content .content-item .more,
.section-4 .more {
  color: var(--accent-color);
  font-size: 0.9;
}

.section-2 .content .content-item .more img,
.section-4 .more img {
  margin-left: 8px;
}
/* --------------------------------------------------------------------- */

.section-3 {
  padding: 32px 64px;
  background-color: #f7f7f7;
}

.section-3 .title {
  font-weight: bold;
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 24px;
}

.section-3 .content {
}

.section-3 .content .tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eeeeee;
  border-radius: 500px;
  width: fit-content;
  margin: 0 auto;
  padding: 4px;
  margin-bottom: 24px;
}

.section-3 .content .tab .tablinks {
  background: transparent;
  border: none;
  padding: 8px 16px;
  border-radius: 500px;
}
.section-3 .content .tab .tablinks.active {
  background: var(--light-text);
}

/* .section-3 .content.tab .tabcontent {
  width: 100%;
  background: #000;
  display: grid;
  grid-template-rows: repeat(4, minmax(0, 1fr));
  animation: fadeEffect 1s;
} */

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section-3 .content .tabcontent {
  animation: fadeEffect 1s;
  position: relative;
}
.section-3 .content .tabcontent .tab-product .product-wrapper {
  border-radius: 12px;
  display: grid;
  overflow: hidden;
}

.section-3 .content .tabcontent .tab-product .product-wrapper .view {
  background-color: #fafafa;
  /* background-color: red; */
  display: grid;
  place-items: center;
  overflow: visible;
}
.section-3 .content .tabcontent .tab-product .product-wrapper .view img {
  width: 100px;
}
.section-3 .content .tabcontent .tab-product .product-wrapper .detail {
  background: var(--light-text);
  padding: 16px;
}
.section-3 .content .tabcontent .tab-product .product-wrapper .detail .type {
  color: var(--dark-text);
  font-size: 0.9rem;
}
.section-3 .content .tabcontent .tab-product .product-wrapper .detail .name {
  margin-top: 12px;
  color: var(--dark-text);
  font-size: 1.2rem;
  font-weight: bold;
}
.section-3 .content .tabcontent .tab-product .product-wrapper .detail .star {
  margin-top: 8px;
  display: flex;
  gap: 4px;
}
.section-3 .content .tabcontent .tab-product .product-wrapper .detail .footer {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-3 .content .tabcontent .tab-product .product-wrapper .detail .footer .price {
  font-weight: bold;
  font-size: 1.2rem;
}
.section-3 .content .tabcontent .tab-product .product-wrapper .detail .footer .price sup {
  font-size: 0.8rem;
}
.section-3 .content .tabcontent .tab-product .product-wrapper .detail .footer .add {
  height: 32px;
  width: 32px;
  background-color: var(--dark-text);
  border-radius: 50%;
  border: transparent;
  color: white;
  display: grid;
  place-items: center;
}
.section-3 .content .tabcontent .tab-product .product-wrapper .detail .footer .add img {
  width: 15px;
}

/* slick slider */

.section-3 .slick-slide,
.section-5 .slick-slide {
  margin: 0 8px;
}

.section-3 .prev,
.section-3 .next,
.section-5 .prev,
.section-5 .next {
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255, 0.95);
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.section-3 .prev,
.section-3 .next {
  position: absolute;
  top: 15%;
}

.section-3 .prev {
  left: -25px;
}

.section-3 .next {
  right: -25px;
}

.section-5 .prev {
  position: absolute;
  top: 50%;
  left: -25px;
}

.section-5 .next {
  position: absolute;
  right: -25px;
  top: 50%;
}

.section-3 .next img,
.section-5 .next img {
  transform: scaleX(-1);
}

/* --------------------------------------------------------------------- */

.section-4 {
  padding: 128px 64px;
  display: grid;
  row-gap: 360px;
  height: fit-content;
  overflow: hidden;
}

.section-4 .catalog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
  align-content: center;
}

.section-4 .catalog .detail {
  display: grid;
  gap: 24px;
}

.section-4 .catalog .detail .type {
  color: var(--accent-color);
  text-transform: uppercase;
  font-weight: 700;
}

.section-4 .catalog .detail .title {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: capitalize;
}

.section-4 .catalog .views {
  position: relative;
}

.section-4 .catalog .views img {
  position: absolute;
  top: -25%;
  width: 130%;
}

.section-4 .catalog-1 .views img {
  right: 0;
}

.section-4 .catalog-2 .views img {
  left: 0;
}

/* --------------------------------------------------------------------- */

.section-5 {
  margin: 128px 64px;
  position: relative;
}

.section-5 .header {
  text-align: center;
}

.section-5 .header .small-title {
  color: var(--accent-color);
  text-transform: uppercase;
  font-weight: 700;
}

.section-5 .header .large-title {
  margin-top: 24px;
  margin-bottom: 40px;
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: bold;
}

.section-5 .testimonials {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px; */
}

.section-5 .testimonials .item-wrapper {
  position: relative;
  height: 500px;
  border-radius: 16px;
  padding: 16px;
  position: relative;
  display: grid;
  align-content: flex-end;
}

.section-5 .testimonials .item-wrapper .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  /* z-index: 100; */
}

.section-5 .testimonials .item-wrapper .item {
  position: relative;
  text-align: center;
  background-color: var(--light-text);
  border-radius: 16px;
  padding: 16px;
  z-index: 20;
  min-height: 220px;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.section-5 .testimonials .item-wrapper .item .person {
  font-weight: bold;
  margin-top: 24px;
}
.section-5 .testimonials .item-wrapper .item .position {
  padding-top: 4px;
  font-size: 0.8rem;
}
.section-5 .testimonials .item-wrapper .item .quote {
  margin-top: 20px;
  font-size: 0.9rem;
}
.section-5 .testimonials .item-wrapper .item .star {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 4px;
}
.section-5 .testimonials .item-wrapper .item .avatar {
  height: 50px;
  width: 50px;
  position: absolute;
  top: -25px;
  left: calc(50% - 25px);
}

.section-5 .testimonials .item-wrapper .item .curve {
  position: absolute;
  top: -35px;
  left: calc(50% - 35px);
  z-index: -10;
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50%;
}

.section-5 .testimonials .item-wrapper .item .curve::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -28px;
  background: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 15px 18px #ffffff;
}
.section-5 .testimonials .item-wrapper .item .curve::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -28px;
  background: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: -15px 18px #ffffff;
}

/* --------------------------------------------------------------------- */

footer {
  background-color: #f7f7f7;
  padding: 32px 64px;
}

footer .footer-1 {
  padding: 32px 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 32px;
}

footer .footer-1 .company .name {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 32px;
}

footer .footer-1 .links {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

footer .footer-1 .links .link-item {
  display: grid;
  gap: 16px;
}

footer .footer-1 .links .link-item .title {
  color: var(--accent-color);
}

footer .footer-1 .links .link-item .links-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

footer .footer-1 .links .link-item .links-wrapper .link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: var(--dark-text);
}

footer .footer-1 .links .link-item .links-wrapper .link:hover {
  color: var(--accent-color);
  fill: var(--accent-color);
}

footer .footer-1 .links .link-item .links-wrapper .link .icon {
  width: 2.1rem;
  text-align: center;
}

footer .footer-2 {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}

footer .footer-2 .term {
  display: flex;
  gap: 16px;
}
