/* the slides */
.slick-slide {
  margin: 0 8px;
}

/* the parent */
.slick-list {
  /* margin: 0 -8px; */
}

/* .slick-prev:before,
.slick-next:before {
  height: 100px !important;
  width: 100px !important;
  border: 1px solid black;
} */

.section-5 .prev,
.section-5 .next {
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255, 0.95);
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.section-5 .prev {
  position: absolute;
  left: -25px;
  top: 50%;
}

.section-5 .next {
  position: absolute;
  right: -25px;
  top: 50%;
}

.section-5 .next img {
  transform: scaleX(-1);
}
